---
layout: default
---

<div style="width: 120%;">
  
  <h2><strong>Voice Conversion Results for Comparison</h2>
  
    <body>
      Below, we provide some voice conversion examples depending on scenarios and speakers.
    
    
    
  <p>
  <h3><strong>Seen to Seen Scenarios (S2S):</h3>
  <h4><strong>Source and target speakers are seen during training</h4>
  <ul>
      <li>Male to Male</li>
      <li>Male to Female</li>
      <li>Female to Female</li>
      <li>Female to Male</li>
  </ul> 
    
  <h4><strong>Scenario 1. S2S Male to Male: p000 > p000</h4>  
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Source</th>
              <th scope="col">Target</th>
              <th scope="col">Conversion</th>
          </tr>
      </thead>
      <tbody>

          <tr>
              <td>p000
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>p000
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio> Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio> Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
          </tr>

          <tr>
              <td>p000
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>p000
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio> Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
              <td>Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio> Proposed
                  <audio controls preload="none">
                      <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
                  </audio>
              </td>
          </tr>
      </tbody>
  </table>

  </p>

  <br>
  <p>
  <h3><strong>Unseen to Unseen Scenarios (U2U):</h3>
  <h4><strong>Source and target speakers are unseen during training</h4>
  <ul>
      <li>Male to Male</li>
      <li>Male to Female</li>
      <li>Female to Female</li>
      <li>Female to Male</li>
  </ul> 
    
  <h4><strong>Scenario 1. U2U Male to Male: p000 > p000</h4>  
  <table border="1">
  <tr>
    <th>Source</th>
    <th>Target</th>
    <th>Bench1</th>
    <th>Bench2</th>
    <th>PM</th>
  </tr>

  <tr>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
  </tr>
  </table>
  </p>
    
    </body>
  
</div>
