---
layout: default
---

<div>
  
  <h2><strong>Voice Conversion Results for Comparison</h2>
  
    <body>
      Below, we provide some voice conversion examples depending on scenarios and speakers.
    </body>
    
    
  <p>
  <h3><strong>Seen to Seen Scenarios (S2S): <br>Source and target speakers are seen during training</h3>
  <ul>
      <li>Male to Male</li>
      <li>Male to Female</li>
      <li>Female to Female</li>
      <li>Female to Male</li>
  </ul> 

  <h3><strong>Scene 1. S2S Male to Male: p000 > p000</h3>  
  <table border="1">
  <tr>
    <th>Source</th>
    <th>Target</th>
    <th>Bench1</th>
    <th>Bench2</th>
    <th>PM</th>
  </tr>

  <tr>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
  </tr>
  </table>
  </p>
    
  <br>
  <br>
    
  <p>
  <h3><strong>Unseen to Unseen Scenarios (U2U): <br>Source and target speakers are unseen during training</h3>
  <ul>
      <li>Male to Male</li>
      <li>Male to Female</li>
      <li>Female to Female</li>
      <li>Female to Male</li>
  </ul> 
    
  <h3><strong>Scene 1. U2U Male to Male: p000 > p000</h3>  
  <table border="1">
  <tr>
    <th>Source</th>
    <th>Target</th>
    <th>Bench1</th>
    <th>Bench2</th>
    <th>PM</th>
  </tr>

  <tr>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
     <td>
     <audio controls>
     <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav" type="audio/wav">
     </audio>
     </td>
  </tr>
  </table>
  </p>
  
<!--   {{ content }} -->
  
</div>
