---
layout: default
---

<div>
  
  <h2>Voice Conversion Results for Comparison</h2>
  <li> Seen to Seen Scenarios (S2S): Source and target speakers are seen during training </li>
  <ul>
      <li><strong>Male to Male</li>
      <li><strong>Male to Female</li>
      <li><strong>Female to Female</li>
      <li><strong>Female to Male</li>
  </ul> 
  
  
  
  <li> Unseen to Unseen Scenarios (U2U): Source and target speakers are unseen during training </li>
  <ul>
      <li><strong>Male to Male</li>
      <li><strong>Male to Female</li>
      <li><strong>Female to Female</li>
      <li><strong>Female to Male</li>
  </ul> 
  
  {{ content }}
  
  
  
  
<!-- 
  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

      </li>
    {% endfor %}
  </ul> -->

</div>
