---
layout: default
---

<div style="width: 120%;">
  
  <h2><strong>Naturalness Evaluation</h2>
  
  <body>
    Below, we provide some examples for speech naturalness evaluation. <br>
    Listen the sample and rate a score from 1 to 5 based on how the speech is natural.
    <br>
    
    <form onSubmit="WriteToFile(this)">
    <label>Type your first name:</label>
    <input type="text" name="FirstName" id="firstName" size="20">

    <label>Type your last name: </abel>
    <input type="text" name="LastName" id="lastName" size="20">

    <input type="submit" value="Download">
    </form>
    
      
<!--     <form action="form.php" method="get">
      
      name1: <input type="text" name="st_name"><br>
      <h4><strong> 1. Listen the sample and rate a score from 1 to 5 based on how the speech is natural:</h4>
      (1: Very bad 2: Bad 3: Fair 4: Good 5: Very good)
      <br>
        
      <audio controls preload="none">
          <source src="./samples/p225_026_mic1_p266_260_mic1_src_gen.wav">
      </audio>
      
      <br>
      <input type="submit", value="submission">
      
    </form> -->
  </body>

    
</div>
