---
layout: default
---

<script language="Javascript" >
function download() {
  var filename = window.document.myform.docname.value;
  var pom = document.createElement('a');
	
  const form = window.document.getElementById('form-id');

  var id_list = ['docname','name', 'ex1', 'ex2', 'ex3']
  var arr = [];
  for (i=0; i<id_list.length; i++){

	arr.push([id_list[i], form[id_list[i]].value])
  }
  
  
 
  pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + arr);


  pom.setAttribute('download', filename);

  pom.style.display = 'none';
  document.body.appendChild(pom);

  pom.click();

  document.body.removeChild(pom);
}
</script>
  
  <h2><strong>Naturalness Evaluation</h2>
  
  <body>
    Below, we provide some examples for speech naturalness evaluation. <br>
    Listen the sample and rate a score from 1 to 5 based on how the speech is natural.
    <br>
  
  <form id="form-id" name="myform" method="post" >
    Filename: <input type="text" id="docname" value="Test_similarity.txt" /> 
    <br>
    Name: <input type="text" id="name" placeholder="Write your name"/>
    <br>
	  
    <h4><strong> 1. Listen the sample and rate a score from 1 to 5 based on how the speech is natural:</h4>
    <h4>(1: Very bad 2: Bad 3: Fair 4: Good 5: Very good)</h4>
    <audio controls preload="none">
       source: <source src="./eval_samples/ex1.wav">
    </audio>
		
    <div style="display:unblock">
      1 <input type="radio" value="1" onclick="getElementById('ex1').value=this.value; getElementById('ex1').show()" style="display:inline" name="score" />
      2 <input type="radio" value="2" onclick="getElementById('ex1').value=this.value;" style="display:inline" name="score" />
      3 <input type="radio" value="3" onclick="getElementById('ex1').value=this.value;" style="display:inline" name="score" />
      4 <input type="radio" value="4" onclick="getElementById('ex1').value=this.value;" style="display:inline" name="score" />
      5 <input type="radio" value="5" onclick="getElementById('ex1').value=this.value;" style="display:inline" name="score" />
      <input type="text" id="ex1" />
    </div>
    <br>
	    
    <h4><strong> 2. Listen the sample and rate a score from 1 to 5 based on how the speech is natural:</h4>
    <h4>(1: Very bad 2: Bad 3: Fair 4: Good 5: Very good)</h4>
    <audio controls preload="none">
       source: <source src="./eval_samples/ex2.wav">
    </audio>
	  
    <div style="display:unblock">
      1 <input type="radio" value="1" onclick="getElementById('ex2').value=this.value; getElementById('ex2').show()" style="display:inline" name="score" />
      2 <input type="radio" value="2" onclick="getElementById('ex2').value=this.value;" style="display:inline" name="score" />
      3 <input type="radio" value="3" onclick="getElementById('ex2').value=this.value;" style="display:inline" name="score" />
      4 <input type="radio" value="4" onclick="getElementById('ex2').value=this.value;" style="display:inline" name="score" />
      5 <input type="radio" value="5" onclick="getElementById('ex2').value=this.value;" style="display:inline" name="score" />
      <input type="text" id="ex2" />
    </div>
	  
    <h4><strong> 3. Listen the sample and rate a score from 1 to 5 based on how the speech is natural:</h4>
    <h4>(1: Very bad 2: Bad 3: Fair 4: Good 5: Very good)</h4>
    <audio controls preload="none">
       source: <source src="./eval_samples/ex3.wav">
    </audio>
	    
    <div style="display:unblock">
      1 <input type="radio" value="1" onclick="getElementById('ex3').value=this.value; getElementById('ex3').show()" style="display:inline" name="score" />
      2 <input type="radio" value="2" onclick="getElementById('ex3').value=this.value;" style="display:inline" name="score" />
      3 <input type="radio" value="3" onclick="getElementById('ex3').value=this.value;" style="display:inline" name="score" />
      4 <input type="radio" value="4" onclick="getElementById('ex3').value=this.value;" style="display:inline" name="score" />
      5 <input type="radio" value="5" onclick="getElementById('ex3').value=this.value;" style="display:inline" name="score" />
      <input type="text" id="ex3" />
    </div>
 
	  
    <input id="download_btn" type="submit" class="btn" style="width: 125px" onClick="download();" />

  </form> 
  
  </body>
</html>
